
.fs-1-rem{
    font-size: 1rem;
}

.fs-2-rem{
    font-size: 2rem;
}

.fs-3-rem{
    font-size: 3rem;
}

.fs-4-rem{
    font-size: 4rem;
}

.fs-5-rem{
    font-size: 5rem;
}

.fs-6-rem{
    font-size: 6rem;
}

.fs-7-rem{
    font-size: 7rem;
}

.fs-8-rem{
    font-size: 8rem;
}

.fs-9-rem{
    font-size: 9rem;
}